* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* header navbar styles */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 120px;
}
header nav ul {
  display: flex;
  gap: 34px;
}
header nav h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
}
header nav li {
  list-style: none;
}
header nav li a {
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
  text-decoration: none;
}
/* banner styles */
.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 165px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right top -70px;
}
.banner-left {
  width: 582px;
}
.left-title {
  font-size: 3.25rem;
  font-weight: bold;
  color: #3a3a3a;
  margin-bottom: 16px;
  margin-top: 16px;
}
.left-description {
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}
.btn {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #e02c6d;
  padding: 10px 25px;
  border-radius: 41px;
  margin-bottom: 170px;
  margin-top: 16px;
}
.banner-right img {
  width: 440px;
  margin-top: -50px;
  margin-bottom: 100px;
}
.banner-icon {
  display: flex;
  justify-content: space-around;
  max-width: 1110px;
  margin: 0 auto;
}
/* collection card section styles */
.collection{
    margin-top: 100px;
}
.collection-cards {
  max-width: 1047px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
}
.collection h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3a3a3a;
  text-align: center;
}
.card {
  width: 329px;
  padding: 17px;
  box-shadow: 0 0 40px 0 rgb(222, 222, 231);
  border-radius: 5px;
}
.card h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(24, 25, 31, 1);
  margin-top: 16px;
  margin-bottom: 6px;
}
.card h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.card p {
  color: rgba(120, 120, 133, 1);
  font-size: 0.98rem;
  font-weight: bold;
}

/* featured-products section styles */
.featured-products{
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content:space-between;
    
}
.small-container{
    width: fit-content;
    margin-top: 123px;
}
.featured-products button{
    border-radius:0;
}
.products-title{
    font-size: 38px;
    font-weight: bold;
    color: #0A0826;
    margin-top: 25px;
}
.products-description{
    width: 510px;
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
}





@media screen and (max-width: 576px) {
  header nav,
  .hero-banner,
  .featured-products{
    flex-direction: column;
  }
  .collection-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .collection{
    margin-top: 50px;
  }

  .hero-banner, .featured-products{
    flex-direction: column-reverse;
  }
  .hero-banner {
    text-align: center;
    margin: 0 auto;
  }
  .collection-cards {
    margin-left: 30px;
  }
   .banner-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: -100px;
    width: 275px;
  }
  .left-title{
    font-size: 2.30rem;
    width: 400px;
    margin: 0 auto;
  }
  .left-description{
    font-size: 0.98rem;
    font-weight: 500;
    width: 320px;
    margin: 15px auto;
  }
  .banner-icon img {
    width: 50px;
    
  }
  .products-title{
    font-size: 1.50rem;
    font-weight: bold;
    width: 310px;
    margin: 0 auto;
  }
  .products-description{
    font-size: 1rem;
    font-weight: bold;
    width: 325px;
  }
  .featured-products{
    text-align: center;
  }
  .featured-products img{
    width: 300px;
    margin-top: -100px;
  }
}
